
{% set pageinfo = { headtitle: '首頁', wrapcls: 'index' } %}

{% extends "base.njk" %}

{% block content %}
	<section class="kv indexkv">
		<div class="main">
			<div class="word wordA wow fadeInDown" data-wow-duration="1s" data-wow-delay="0s">Chose 影音創意智庫，故事模組化先選再買！</div>
			<div class="word wordB wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">Click 流程電商化，敲敲滑鼠輕鬆得到優質影音！</div>
			<div class="word wordC wow fadeInDown" data-wow-duration="1s" data-wow-delay="1s">急速 CC 給老闆的影音企劃＋製作規格！</div>
			<a href="#" class="btn wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.5s">馬上了解</a>
		</div>
	</section>

	<section class="content sppoint">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-3">
					<div class="sppbx sppbx1">
						<i class="spp"></i>
						<h4>影音模組自由選</h4>
						<p>百種主題影片<br>案例不斷更新</p>
					</div>
				</div>
				<div class="col-6 col-sm-3">
					<div class="sppbx sppbx2">
						<i class="spp"></i>
						<h4>7-14天即交件</h4>
						<p>腳本/拍攝/剪輯<br>專業團隊快速動員</p>
					</div>
				</div>
				<div class="col-6 col-sm-3">
					<div class="sppbx sppbx3">
						<i class="spp"></i>
						<h4>價格公開透明</h4>
						<p>不需報價再議價<br>省時又省力</p>
					</div>
				</div>
				<div class="col-6 col-sm-3">
					<div class="sppbx sppbx4">
						<i class="spp"></i>
						<h4>行銷業務神助力</h4>
						<p>影音解構企劃力<br>提案簡報一次到位</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="container">
			<h2 class="title"><span>最新上線</span></h2>
			<div class="splist indexPL owl-carousel">
				{% for item in newitems %}
				<div class="splbx">
					<div class="inner">
						<div class="img">
							<div class="video">
								<iframe width="100%" height="100%" src="{{ item.mainUrl|youtubeEmbed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
						<h4>{{ item.title }}</h4>
						{% if item.keywordLabels|length %}
						<div class="tags">
							{% for word in item.keywordLabels %}
							<a href="#">{{ word }}</a>
							{% endfor %}
						</div>
						{% endif %}
						<div class="fc">
							<a class="fc-view" href="#"><i></i>瀏覽腳本</a>
							<a class="fc-like" href="#"><i></i>收藏</a>
						</div>
						<!-- <span class="tab">倒數預告</span> -->
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

{% endblock %}
