{% block content %}
{% endblock %}
<script type="text/javascript">
	var _headtitle = '{{ pageinfo.headtitle }}';
	var _wrapcls = '{{ pageinfo.wrapcls }}';
	{% if toLoggedState %}
	var _toLogged = true;
	var _cartCount = {{ cartCount }};
	{% elif toLogoutState %}
	var _toLogout = true;
	{% endif %}
</script>
