
{% set pageinfo = { headtitle: '產品列表', wrapcls: 'inpage' } %}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="sort">
		<div class="container">
			<span>排序：</span>
			<a class="active" href="#">最新</a>
			<a href="#">價格</a>
			<a href="#">收藏</a>
		</div>
	</section>

	<section class="content">
		<div class="container">
			{% if searchkey|length %}
			<div class="searchnote">
				搜尋結果：<br>共有 <span>{{ searchcount }}</span> 項符合 <span>{{ searchkey }}</span> 搜尋條件的影音項目。
			</div>
			{% endif %}
			<div class="upgrate">
				<a href="#" class="btn
				 openUpgrate">升級為VIP會員</a> <br>即可瀏覽本頁全部影音商品
			</div>
			
			{% include "product/more.njk" %}

		</div>
	</section>

{% endblock %}