@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-style: inherit; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit; }

del, ins {
  text-decoration: none; }

li {
  list-style: none;
  font-style: inherit; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input, button, textarea, select {
  *font-size: 100%; }

h4 {
  font-size: 20px; }

h3 {
  font-size: 24px; }

h2 {
  font-size: 36px; }

html {
  height: 100%;
  max-height: 50000em; }

body {
  height: 100%;
  font-size: 16px;
  color: #333;
  background: #f5f5f5;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif,'微軟正黑體','Microsoft JhengHei','STHeiti Light','儷黑 Pro','LiHei Pro','Microsoft Yahei','Microsoft JhengHei','新細明體'; }

div, section, nav, header, footer, p, span, ul, ol, li, dl, dd, dt, input, select, span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  position: relative; }

a {
  color: #f39c00;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  a:hover {
    text-decoration: none;
    color: #eb6100; }

a.link {
  border-bottom: 1px solid #f39c00; }
  a.link:hover {
    border-bottom: 1px solid #eb6100; }

label.sp {
  position: relative;
  padding-left: 30px;
  margin: 0 10px 0 0; }

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%; }
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f39c00; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25em; }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #f39c00;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

button {
  outline: none; }

textarea {
  border: 1px solid #ddd;
  border-radius: 1em;
  outline: none;
  padding: 0.5em; }

input {
  padding: 0.5rem 1rem;
  border-radius: 1.5em;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  outline: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 2; }
  input[type="checkbox"]:checked ~ .checkmark:after {
    display: block; }
  input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 2;
    margin-right: 0.5rem; }
  input[type="radio"]:checked ~ .radiomark:after {
    display: block; }

select {
  padding: 0.5em 1em;
  border-radius: 1.5em;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  select:focus {
    outline: 0; }

.btn {
  color: #fff;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9be00+0,f29600+100 */
  background: #f9be00;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f9be00 0%, #f29600 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f9be00 0%, #f29600 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f9be00), to(#f29600));
  background: -o-linear-gradient(left, #f9be00 0%, #f29600 100%);
  background: linear-gradient(to right, #f9be00 0%, #f29600 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9be00', endColorstr='#f29600',GradientType=1 );
  /* IE6-9 */
  border: 1px solid #f9be00;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  padding: 0.375em 1.25em;
  border-radius: 1.5em; }
  .btn:hover {
    color: #fff;
    background: #f39c00; }
  .btn span:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../images/img_arrowW.png) no-repeat;
    background-size: cover;
    margin-left: 5px;
    position: relative;
    top: -2px; }
  .btn em {
    font-size: 0.8em;
    margin-left: 5px; }

.btnGray {
  background: #ccc;
  border-color: #ccc; }
  .btnGray:hover {
    background: #bbb; }

.btnIm {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f29600+0,eb6100+100 */
  background: #f29600;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f29600 0%, #eb6100 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f29600 0%, #eb6100 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f29600), to(#eb6100));
  background: -o-linear-gradient(left, #f29600 0%, #eb6100 100%);
  background: linear-gradient(to right, #f29600 0%, #eb6100 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29600', endColorstr='#eb6100',GradientType=1 );
  /* IE6-9 */ }

.btnBorder {
  background: none;
  color: #f39c00;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 2px;
  font-weight: bold; }
  .btnBorder:hover {
    background: none;
    color: #eb6100;
    border-color: #eb6100; }

.btnLike span:after {
  background-image: url(../images/i_heartW.png);
  width: 16px;
  height: 16px;
  top: 0; }

.btnLike span.active:after {
  background-image: url(../images/i_heartWActive.png); }

.btnFB {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f70c3+0,29487d+100 */
  background: #3f70c3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #3f70c3 0%, #29487d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3f70c3 0%, #29487d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3f70c3), to(#29487d));
  background: -o-linear-gradient(left, #3f70c3 0%, #29487d 100%);
  background: linear-gradient(to right, #3f70c3 0%, #29487d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f70c3', endColorstr='#29487d',GradientType=1 );
  /* IE6-9 */
  border: 1px solid #3f70c3; }
  .btnFB:hover {
    background: #3f70c3; }

.btns {
  text-align: center;
  margin: 1.5rem auto; }
  .btns .btn {
    margin: 0 5px 15px; }

p {
  margin: 1rem 0; }

.center {
  text-align: center; }

.fontR {
  color: #eb6100; }

.fontS {
  font-size: 14px; }

.fontB {
  font-size: 1.25em;
  color: #f39c00; }

.fontBr {
  display: inline-block;
  border: 1px solid #f39c00;
  color: #f39c00;
  padding: 0.1em 0.75em;
  border-radius: 1.5em;
  margin: 5px; }

.row {
  margin: 0; }

.wrap {
  min-height: 100%;
  max-width: 1920px;
  margin: auto;
  padding-bottom: 204px;
  margin-bottom: -204px;
  padding-top: 60px; }

.hd {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  min-height: 170px;
  background: url(../images/bg_hd.png) center bottom;
  background-size: cover;
  z-index: 9999; }
  .hd .container {
    position: relative; }
  .hd .logo {
    position: absolute;
    top: -50px;
    left: -40px;
    width: 190px;
    height: 188px;
    background: url(../images/bg_logo.png);
    background-size: cover;
    margin: 20px 40px 0;
    z-index: 999; }
    .hd .logo a {
      display: block;
      width: 106px;
      height: 105px;
      background: url(../images/img_logo.png);
      background-size: cover;
      text-indent: -5000em;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -47px 0 0 -52px; }
  .hd.hideUp {
    top: 0; }

a.menu-link {
  display: none; }

#menu[role=navigation] {
  position: static;
  padding: 0;
  background: #eb6100; }
  #menu[role=navigation] ul {
    text-align: center; }
  #menu[role=navigation] li {
    display: inline-block;
    border-bottom: 0;
    margin: 0;
    text-align: center; }
    #menu[role=navigation] li span {
      display: inline-block;
      padding: 0.5em 10px 0.5em 20px;
      cursor: pointer;
      color: #fff;
      font-weight: bold;
      background: url(../images/img_arrowW.png) no-repeat left;
      background-size: 10px auto; }
    #menu[role=navigation] li a {
      display: block; }
  #menu[role=navigation] .login-bar {
    position: absolute;
    right: 0;
    top: 0;
    background: #f39c00;
    font-size: 14px;
    padding: 0.7em 10px 0.7em 20px;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em; }
    #menu[role=navigation] .login-bar a {
      display: inline-block;
      color: #fff;
      padding: 0 5px;
      border-right: 1px solid #f9be00; }
    #menu[role=navigation] .login-bar a:last-child {
      border-right: 0; }

.search {
  position: relative;
  width: 560px;
  background: #f39c00;
  border: 2px solid #fff;
  padding-left: 40px;
  margin: 20px auto 0;
  border-radius: 1.5em; }
  .search:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/i_search.png);
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -12px; }
  .search input {
    width: 40%;
    color: #fff;
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0.25em 0; }
  .search .hot-tag {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0; }
    .search .hot-tag a {
      color: #fff;
      text-decoration: underline; }

.ft a {
  color: #fff;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.ft a:hover {
  border-bottom: 1px solid #fff; }

.ft .main {
  color: #fff;
  text-shadow: 0 2px 3px #aa5113;
  padding: 3rem 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9be00+0,f29600+50,ffd44b+100 */
  background: #f9be00;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f9be00 0%, #f29600 50%, #ffd44b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f9be00 0%, #f29600 50%, #ffd44b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f9be00), color-stop(50%, #f29600), to(#ffd44b));
  background: -o-linear-gradient(left, #f9be00 0%, #f29600 50%, #ffd44b 100%);
  background: linear-gradient(to right, #f9be00 0%, #f29600 50%, #ffd44b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9be00', endColorstr='#ffd44b',GradientType=1 );
  /* IE6-9 */ }
  .ft .main .logo {
    position: absolute;
    top: -1rem;
    right: 0;
    width: 120px;
    height: 120px;
    background: url(../images/img_logoft.png);
    background-size: cover; }

.ft .copy {
  background: #333;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 0.75em 0; }

.kv {
  position: relative;
  height: 600px;
  background-size: cover; }
  .kv:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(../images/bg_kvBottom.png);
    background-size: 100% 100%; }

.indexkv {
  background: url(../images/img_kv.jpg) center;
  background-size: cover; }
  .indexkv .main {
    position: relative;
    top: 200px;
    width: 600px;
    text-align: center;
    margin: auto; }
  .indexkv .word {
    text-indent: -5000em;
    background-size: cover;
    margin: 1rem 0; }
  .indexkv .wordA {
    background-image: url(../images/img_kvText-1.png);
    width: 506px;
    height: 42px; }
  .indexkv .wordB {
    background-image: url(../images/img_kvText-2.png);
    width: 554px;
    height: 42px; }
  .indexkv .wordC {
    background-image: url(../images/img_kvText-3.png);
    width: 465px;
    height: 42px;
    margin-left: 40px; }
  .indexkv .btn {
    font-size: 24px; }

.sindexkv .owl-stage-outer,
.sindexkv .owl-stage,
.sindexkv .owl-item,
.sindexkv .kvimg {
  height: 100%; }

.sindexkv .kvimg {
  background-size: cover;
  background-position: center; }

.sindexkv .mtitle {
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: -18px; }

.sindexkv .owl-dots {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%; }

.sindexkv.mb {
  display: none; }

.content {
  margin: 60px auto; }

.sppoint {
  margin-top: 20px; }
  .sppoint .sppbx {
    text-align: center;
    background-image: url(../images/bg_bb-1.png);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 240px;
    max-width: 240px;
    margin: auto; }
    .sppoint .sppbx i.spp {
      background-size: cover;
      display: inline-block;
      width: 72px;
      height: 72px;
      margin-top: 30px; }
    .sppoint .sppbx h4 {
      font-weight: bold;
      color: #f9be00;
      margin-bottom: 5px; }
  .sppoint .sppbx1 i.spp {
    background-image: url(../images/i_sp1.png); }
  .sppoint .sppbx2 {
    background-image: url(../images/bg_bb-2.png);
    margin-top: 40px; }
    .sppoint .sppbx2 i.spp {
      background-image: url(../images/i_sp2.png); }
    .sppoint .sppbx2 h4 {
      color: #f39c00; }
  .sppoint .sppbx3 {
    background-image: url(../images/bg_bb-3.png);
    margin-top: 40px; }
    .sppoint .sppbx3 i.spp {
      background-image: url(../images/i_sp3.png); }
    .sppoint .sppbx3 h4 {
      color: #eb6100; }
  .sppoint .sppbx4 i.spp {
    background-image: url(../images/i_sp4.png); }

.title {
  text-align: center;
  color: #f39c00;
  font-weight: bold;
  margin: 1.5rem auto; }
  .title span {
    position: relative;
    display: inline-block; }
    .title span:before, .title span:after {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(../images/i_title.png) no-repeat center;
      background-size: cover;
      margin: 0 0.25em;
      position: relative;
      top: -5px; }

.sptitle {
  position: relative; }
  .sptitle .note {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: 120px;
    width: auto;
    line-height: 50px;
    font-size: 16px;
    color: #666;
    border: 1px solid #f9be00;
    padding: 0 20px;
    border-radius: 10px; }
    .sptitle .note b {
      color: #eb6100;
      font-size: 24px; }
    .sptitle .note:before {
      content: "";
      display: block;
      width: 9px;
      height: 10px;
      background: url(../images/img_noteArrow.png);
      position: absolute;
      left: -9px;
      top: 50%;
      margin-top: -5px; }

.video {
  height: 360px;
  text-align: center;
  margin: auto; }

.indexVideo .video {
  max-width: 600px; }

.tags a {
  color: #333;
  background: #e5e5e5;
  font-size: 14px;
  padding: 0.25em 0.75em;
  border-radius: 1.5em; }

.fc a {
  font-weight: bold;
  border-right: 2px dotted #ddd;
  padding: 0 0.5em; }
  .fc a i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
    margin-right: 0.25em;
    position: relative;
    top: 2px; }

.fc a:last-child {
  border-right: 0; }

.fc .fc-view i {
  background-image: url(../images/i_eye.png); }

.fc .fc-like i {
  background-image: url(../images/i_heart.png); }

.splist {
  margin: 2rem auto; }
  .splist .splbx {
    text-align: center;
    padding: 5px 10px 10px;
    margin-bottom: 10px; }
    .splist .splbx .inner {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      background: #fff;
      border: 1px solid #ddd;
      border-bottom: 5px solid #f9be00;
      -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      padding-bottom: 15px; }
    .splist .splbx img {
      width: 100%; }
    .splist .splbx .video {
      height: 200px; }
    .splist .splbx h4 {
      font-weight: bold;
      font-size: 16px;
      margin: 0.75em 1rem; }
    .splist .splbx p {
      font-size: 14px;
      margin: 0.75em 1rem; }
    .splist .splbx .fc {
      margin: 0.75em 0 0; }
      .splist .splbx .fc a:hover {
        color: #eb6100; }
    .splist .splbx .price {
      font-size: 14px;
      margin-bottom: 0.5rem; }
      .splist .splbx .price span {
        color: #f39c00; }
        .splist .splbx .price span b {
          font-size: 20px; }

.tab {
  position: absolute;
  top: 12px;
  left: 0;
  color: #fff;
  background: #eb6100;
  padding: 5px 5px 5px 10px;
  font-size: 14px; }
  .tab:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 15px 0 0;
    border-color: #eb6100 transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -15px; }

.owl-dots {
  text-align: center; }
  .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fcdf80;
    margin: 0 3px;
    outline: none; }
  .owl-dots button.owl-dot.active {
    background: #f9be00; }

.owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: -15px;
  outline: none; }

.owl-carousel .owl-nav button.owl-prev {
  left: -40px;
  background: #f9be00 url(../images/img_arrowPrev.png) no-repeat center;
  background-size: 16px 16px; }
  .owl-carousel .owl-nav button.owl-prev span {
    display: none; }

.owl-carousel .owl-nav button.owl-next {
  right: -40px;
  background: #f9be00 url(../images/img_arrowNext.png) no-repeat center;
  background-size: 16px 16px; }
  .owl-carousel .owl-nav button.owl-next span {
    display: none; }

.indexPL .owl-item:nth-child(2n) .inner {
  margin-top: 30px; }

.uslbx {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .uslbx .img {
    width: 40%;
    padding-right: 20px; }
    .uslbx .img img {
      width: 100%;
      border-radius: 50%;
      border: 3px solid #f9be00; }
  .uslbx .meat {
    width: 60%; }
    .uslbx .meat h4 {
      font-weight: bold;
      border-bottom: 2px dotted #ddd;
      padding: 10px 0;
      margin-bottom: 10px; }
      .uslbx .meat h4 span {
        font-size: 14px;
        font-weight: normal;
        background: #e5e5e5;
        border-radius: 1.5em;
        padding: 0.25em 0.75em;
        margin-left: 10px; }
    .uslbx .meat p {
      color: #666;
      text-align: justify; }

.ad {
  text-align: center; }
  .ad .mb {
    display: none; }

.index {
  background-image: url(../images/bg_content1.png), url(../images/bg_content2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center 950px, center 2000px;
  background-size: 100% auto, 100% auto; }

.support {
  position: fixed;
  right: 1rem;
  bottom: 20vh;
  z-index: 8888;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #f9be00;
  font-weight: bold;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  .support a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.25rem 2rem;
    color: #333; }
  .support img {
    display: block;
    width: 60px;
    margin: 0 auto 0.5rem; }

.inpage {
  padding-top: 170px; }

.crumb {
  font-size: 14px;
  margin: 10px auto; }
  .crumb a {
    border-bottom: 1px solid #f39c00; }
  .crumb a:hover {
    border-bottom: 1px solid #eb6100; }
  .crumb .container {
    border-bottom: 2px dotted #f9be00;
    padding-top: 10px;
    padding-bottom: 10px; }

.sort {
  text-align: right;
  font-size: 14px;
  margin: 10px auto; }
  .sort span {
    color: #666; }
  .sort a {
    display: inline-block;
    padding: 0.25em 1em;
    border-radius: 1.5em;
    color: #333;
    background: #e5e5e5; }
  .sort a.active {
    background: #f9be00; }

.upgrate {
  text-align: center;
  border: 1px solid #fcdf80;
  padding: 2rem 0;
  margin: 0 auto 40px;
  border-radius: 10px; }
  .upgrate .btn {
    margin: 0 10px; }
  .upgrate br {
    display: none; }

.pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99999; }
  .pop .inner {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center; }

.popUpgrate .inner {
  margin-top: -20vh; }

.popUpgrate i {
  display: inline-block;
  width: 128px;
  height: 128px;
  background: url(../images/i_searchVideo.png); }

.popUpgrate p {
  font-size: 20px;
  margin: 1.5rem 0; }
  .popUpgrate p span {
    color: #eb6100; }

.popUpgrate .btn {
  font-size: 24px;
  margin: 0 0.25rem; }

.popUpgrate .btnGray {
  font-size: 20px; }

.plist .plbx {
  margin: 3rem auto; }

.plist .video {
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }

.plist h3 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.plist p {
  min-height: 7.5em;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted #ddd; }

.plist .tags {
  margin-bottom: 1rem; }

.plist .btn {
  font-size: 20px; }

.loading {
  text-align: center; }

.svideo .item {
  padding: 10px 5px; }

.svideo img {
  width: 100%;
  border-radius: 10px; }

.pdtop .video {
  border-radius: 10px;
  overflow: hidden; }

.pdtop .tags {
  margin: 1rem auto; }

.pdtop h3 {
  font-weight: bold;
  margin-bottom: 1rem; }

.pdtop p {
  color: #666;
  margin-bottom: 1rem; }

.pdtop .spot span {
  display: inline-block;
  margin-bottom: 0.5rem; }

.pdtop .spot li {
  padding-left: 1rem;
  background: url(../images/img_arrowO.png) no-repeat left;
  background-size: 10px;
  color: #eb6100; }

.pdtop .price {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem auto; }
  .pdtop .price li {
    padding-left: 1rem;
    background: url(../images/img_arrowO.png) no-repeat left;
    background-size: 10px;
    color: #eb6100; }
    .pdtop .price li span {
      display: inline-block;
      min-width: 5rem; }
    .pdtop .price li b {
      font-weight: normal;
      font-size: 24px; }
  .pdtop .price li.big {
    color: #333;
    background: url(../images/img_arrowB.png) no-repeat left;
    background-size: 10px;
    font-size: 20px; }
    .pdtop .price li.big b {
      font-size: 36px; }

.pdtop .time span {
  display: inline-block;
  margin: 0 0.5rem 0 0; }

.pdtop .btns {
  text-align: right;
  border-bottom: 2px dotted #ddd;
  padding: 1.5rem 0; }
  .pdtop .btns .btn {
    font-size: 20px; }

.story .splbx {
  padding: 0 10px;
  margin-bottom: 1rem; }
  .story .splbx p {
    text-align: left; }

.pddetail .item {
  padding: 0 10px;
  margin-bottom: 20px; }

.pddetail .inner {
  min-height: 100%;
  display: flex-wrap;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  .pddetail .inner:after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both; }
  .pddetail .inner img {
    width: 30%;
    float: right; }
  .pddetail .inner span {
    color: #f39c00; }
  .pddetail .inner span.ex {
    display: block;
    font-size: 14px; }

.pddetail .focus .inner {
  background: #fcdf80; }

.buyMore .splbx .inner {
  padding: 1rem 0; }

.buyMore .splbx img {
  width: auto;
  margin: auto; }

.buyMore .splbx h4 {
  color: #f39c00; }

.buyMore .splbx p {
  font-size: 12px; }

.buyMore .splbx .main {
  min-height: 4.5rem;
  margin-bottom: 0.5rem; }

.buyMore .splbx select {
  width: 80%;
  font-size: 14px;
  padding: 0.25em 0.75em; }

.member .menu {
  border-bottom: 1px solid #fcdf80; }
  .member .menu ul {
    text-align: center; }
  .member .menu li {
    font-size: 14px;
    display: inline-block;
    margin: 0 5px 20px; }
    .member .menu li a {
      display: block;
      color: #333;
      background: #e5e5e5;
      border: 1px solid #ddd;
      padding: 0.5em 1em;
      border-radius: 1.5em;
      -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  .member .menu li.active a {
    color: #fff;
    background: #f9be00;
    border: 1px solid #f39c00;
    font-weight: bold; }

.member .main {
  padding: 1.5rem 0; }

.member .mmeat {
  border-bottom: 2px dotted #ddd;
  margin: 0 15px 0;
  padding: 1.5rem 0; }
  .member .mmeat p {
    margin: 1rem auto; }

.member .note {
  border-bottom: 2px dotted #ddd;
  padding: 1.5rem 0; }

.member .alltotal {
  text-align: right;
  color: #eb6100; }
  .member .alltotal span {
    font-size: 24px; }
  .member .alltotal .atn {
    color: #333;
    font-size: 0.9em; }

.member .btns {
  text-align: right;
  padding: 0 15px; }
  .member .btns .btn {
    font-size: 20px; }
  .member .btns .btnBig {
    font-size: 24px; }

.member .btns.center {
  text-align: center; }

.step {
  text-align: center;
  margin: 3rem auto; }
  .step .item {
    position: relative;
    display: inline-block;
    margin-right: 4px; }
    .step .item span {
      border-radius: 1.5em;
      padding: 0.5em 1em;
      background: #fff;
      border: 2px solid #ddd; }
    .step .item:after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 2px;
      background: #ddd;
      position: absolute;
      right: -10px;
      top: 50%;
      margin-top: -1px; }
  .step .active span {
    font-weight: bold;
    color: #fff;
    background: #f9be00;
    border: 2px solid #f9be00; }
  .step .item:last-child:after {
    display: none; }

.stable {
  font-size: 14px;
  border: 1px solid #f9be00;
  border-bottom: 0;
  margin: 2rem 15px; }
  .stable .thead {
    color: #000;
    background: #f9be00; }
  .stable .th {
    text-align: center;
    padding: 15px 5px;
    border-right: 1px solid #f9be00; }
    .stable .th span {
      display: inline-block;
      vertical-align: middle; }
    .stable .th:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
    .stable .th:last-child {
      border-right: 0; }
  .stable .tbody {
    background: #fff;
    border-bottom: 1px solid #f9be00; }
  .stable .td {
    text-align: center;
    padding: 15px 5px;
    border-right: 1px solid #f9be00; }
    .stable .td .sth {
      display: none; }
    .stable .td:nth-child(1) {
      text-align: left;
      padding-left: 15px; }
      .stable .td:nth-child(1) select {
        width: 50%; }
    .stable .td:last-child {
      border-right: 0; }
  .stable .theadg {
    background: #eee;
    border-bottom: 1px solid #f9be00; }
  .stable .tbtm {
    background: #fcdf80;
    border-bottom: 1px solid #f9be00; }
    .stable .tbtm .td {
      padding: 15px;
      color: #000; }
    .stable .tbtm .total {
      text-align: right; }
      .stable .tbtm .total span {
        font-size: 24px; }

.notice {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 2rem 15px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  .notice h3 {
    font-weight: bold;
    text-align: center;
    color: #f39c00; }
  .notice ol li {
    font-size: 14px;
    list-style-type: decimal;
    margin-left: 2em; }

.text {
  position: relative;
  margin: 1rem 15px; }
  .text .inner {
    max-width: 800px;
    margin: auto; }
  .text .okimg {
    width: 200px;
    height: 200px;
    background: #fff url(../images/img_cartOk.png);
    background-size: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 20px;
    margin-top: -30px; }
  .text h4 {
    text-align: center;
    color: #f39c00;
    font-weight: bold; }
  .text p {
    text-align: center;
    padding: 2rem 0; }
    .text p.left {
      text-align: left; }
  .text .btns {
    text-align: center;
    clear: both; }

.block {
  display: block; }

.webflow {
  background: url(../images/img_wfLine.png) no-repeat 20px top;
  background-size: 2px 100%; }
  .webflow .wfbx {
    position: relative;
    min-height: 120px;
    margin: 2rem 0; }
    .webflow .wfbx .icon {
      position: absolute;
      left: 0;
      top: 0; }
    .webflow .wfbx .num {
      position: absolute;
      top: 40px;
      left: 0;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      color: #fff;
      background: #f9be00;
      line-height: 40px;
      width: 40px;
      border-radius: 50%; }
    .webflow .wfbx .img {
      width: 120px;
      height: 120px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 50%;
      text-align: center;
      margin-left: 60px; }
      .webflow .wfbx .img:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%; }
      .webflow .wfbx .img img {
        display: inline-block;
        vertical-align: middle; }
    .webflow .wfbx .meat {
      padding-left: 200px;
      padding-top: 30px; }
      .webflow .wfbx .meat h4 {
        font-weight: bold;
        color: #000;
        margin-bottom: 0.75rem; }
      .webflow .wfbx .meat p {
        color: #666; }
      .webflow .wfbx .meat span {
        display: block; }
  .webflow .webflowS {
    position: relative;
    padding-left: 90px; }
    .webflow .webflowS:after {
      content: "";
      display: block;
      width: 2px;
      height: 100%;
      background: #f9be00;
      position: absolute;
      top: 0;
      left: 110px;
      z-index: -1; }
    .webflow .webflowS .wfbx .num {
      font-size: 0.9em; }

.swebflow {
  text-align: center;
  background: url(../images/img_wfLineX.png) no-repeat;
  background-position: center 175px;
  background-size: 100% 2px;
  margin: 2rem auto; }
  .swebflow .wfbx {
    display: inline-block;
    padding: 0 10px;
    padding-bottom: 50px;
    margin: 0;
    min-height: auto; }
    .swebflow .wfbx .icon {
      position: static;
      text-align: center; }
      .swebflow .wfbx .icon b {
        line-height: 20px;
        font-size: 14px;
        margin-top: 5px; }
    .swebflow .wfbx .num {
      left: 50%;
      top: auto;
      bottom: 0;
      margin-left: -20px; }
    .swebflow .wfbx .img {
      margin: auto; }
      .swebflow .wfbx .img img {
        width: 48px; }

.pp {
  margin: 0 15px 1.5rem; }

.plan p {
  margin: 0 15px 1.5rem; }

.plan .planbx {
  text-align: center;
  padding-bottom: 20px; }
  .plan .planbx .inner {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 5px solid #f9be00;
    border-radius: 10px;
    padding-bottom: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
  .plan .planbx h4 {
    padding: 10px;
    background: #fcdf80;
    margin-bottom: 1rem; }
  .plan .planbx b {
    font-size: 20px;
    color: #f39c00;
    display: block; }
    .plan .planbx b span {
      font-weight: normal;
      font-size: 14px; }
  .plan .planbx .list {
    font-size: 14px;
    margin-bottom: 10px; }
    .plan .planbx .list span {
      color: #999; }

.planbtm {
  border-top: 2px dotted #ddd;
  text-align: center;
  padding: 15px 0;
  margin: 15px; }

.qa .qalist {
  margin: 20px 0; }

.qa .qalth {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  border-right: 1px solid #f9be00; }

.qa .qaltd {
  font-size: 14px; }

.login {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .login p {
    text-align: center; }
  .login .inner {
    text-align: center;
    border-top: 2px dotted #f9be00;
    border-bottom: 2px dotted #f9be00;
    padding: 2rem 0;
    margin: 1.5em auto; }
  .login .btn {
    font-size: 20px; }
  .login .fb {
    border-bottom: 2px dotted #ddd;
    padding-bottom: 2rem; }
  .login .btm {
    border-top: 2px dotted #ddd;
    padding-top: 2rem; }
  .login .user {
    padding: 2rem 0 0;
    margin-bottom: 1.5rem; }
    .login .user h4 {
      font-weight: bold;
      margin-bottom: 1.5rem; }
    .login .user .form .fbx {
      margin-bottom: 1rem; }
      .login .user .form .fbx span {
        text-align: left;
        display: inline-block;
        min-width: 7em; }
      .login .user .form .fbx em {
        display: block;
        padding-left: 5rem;
        margin-top: 0.5em; }
    .login .user .checkCode a {
      font-size: 14px;
      display: inline-block;
      margin-left: 5px; }
      .login .user .checkCode a:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../images/i_re.png);
        background-size: cover;
        margin-right: 5px; }

.tform {
  margin: 2rem auto; }
  .tform .tfth {
    text-align: right;
    border-right: 1px solid #f39c00;
    margin-bottom: 0.75rem; }
    .tform .tfth span {
      display: inline-block;
      vertical-align: middle; }
      .tform .tfth span em {
        margin: 5px; }
    .tform .tfth:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 0;
      height: 100%; }
  .tform .tftd {
    margin-bottom: 1rem; }
    .tform .tftd span.fixed {
      display: inline-block;
      min-width: 50%;
      padding: 0.5em; }
    .tform .tftd input {
      width: 50%;
      margin: 5px auto; }
    .tform .tftd input.input-a {
      width: auto; }
    .tform .tftd input.input-w1 {
      width: 12%; }
    .tform .tftd select {
      margin-bottom: 10px; }
    .tform .tftd select.select-w1 {
      width: 50%; }
    .tform .tftd textarea {
      width: 75%; }
    .tform .tftd em {
      display: inline-block;
      margin-top: 10px;
      font-size: 14px;
      color: #eb6100;
      letter-spacing: 0; }
    .tform .tftd .tfthh {
      color: #f39c00;
      display: inline-block;
      min-width: 8em; }
  .tform .tfdv {
    padding: 10px 0; }
  .tform .imgpick {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .tform .imgpick .item {
      text-align: center;
      width: 25%;
      padding: 5px; }
      .tform .imgpick .item img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px; }
  .tform .musicpick {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .tform .musicpick .item {
      width: 50%;
      padding: 5px;
      margin-top: 10px; }
      .tform .musicpick .item audio {
        width: 100%; }
  .tform .storypick {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }
    .tform .storypick .item {
      position: relative;
      width: 33.3%;
      padding: 5px; }
      .tform .storypick .item img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px; }
      .tform .storypick .item textarea {
        width: 100%; }
      .tform .storypick .item .tab {
        left: 5px; }

.remind {
  font-size: 14px;
  margin: 2rem 15px; }
  .remind ol li {
    list-style-type: decimal;
    margin-left: 2em; }

.note {
  font-size: 14px;
  color: #666;
  margin: 0 15px; }

.score span {
  cursor: pointer; }

.score img {
  width: 24px; }

.ui-datepicker {
  background: #fff;
  font-size: 14px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px; }

.ui-datepicker-header {
  position: relative;
  line-height: 30px;
  padding: 10px 10px 0; }
  .ui-datepicker-header .ui-datepicker-prev,
  .ui-datepicker-header .ui-datepicker-next {
    position: absolute;
    top: 10px;
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -5000em; }
    .ui-datepicker-header .ui-datepicker-prev span,
    .ui-datepicker-header .ui-datepicker-next span {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -6px 0 0 -4px; }
  .ui-datepicker-header .ui-datepicker-prev {
    left: 10px; }
    .ui-datepicker-header .ui-datepicker-prev span {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 8px 6px 0;
      border-color: transparent #f39c00 transparent transparent; }
  .ui-datepicker-header .ui-datepicker-next {
    right: 10px; }
    .ui-datepicker-header .ui-datepicker-next span {
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 8px;
      border-color: transparent transparent transparent #f39c00; }
  .ui-datepicker-header .ui-datepicker-title {
    text-align: center; }

.ui-datepicker-calendar {
  width: 100%;
  text-align: center; }
  .ui-datepicker-calendar th a, .ui-datepicker-calendar th span, .ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px; }
  .ui-datepicker-calendar th a.ui-state-active, .ui-datepicker-calendar td a.ui-state-active {
    color: #fff;
    background: #f9be00; }
  .ui-datepicker-calendar .ui-datepicker-today {
    background: #e5e5e5; }

.add {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  margin: 10px; }
  .add:before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #f9be00 url(../images/i_plus.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: -2px; }

.end {
  margin: 2rem 15px; }
  .end .eimg img {
    width: 100%; }
  .end .video {
    height: 60vh; }
  .end .remind {
    font-size: 16px; }

.fixVideo {
  position: relative;
  margin-top: 1rem; }
  .fixVideo .video {
    height: 50vh; }
  .fixVideo .fixnote {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
    .fixVideo .fixnote:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      position: absolute;
      top: 5px;
      left: -15px;
      background: #f39c00; }
    .fixVideo .fixnote span {
      display: block;
      text-align: left; }
    .fixVideo .fixnote textarea {
      display: block;
      width: 100%; }
    .fixVideo .fixnote .btn {
      margin: 10px; }
    .fixVideo .fixnote .closeVN {
      display: block;
      width: 30px;
      height: 30px;
      background: #f9be00 url(../images/img_menuClose.png) no-repeat center;
      background-size: 50%;
      border-radius: 50%;
      position: absolute;
      top: -10px;
      right: -10px; }
  .fixVideo ul.fixlist {
    margin: 1rem auto; }

.searchnote {
  text-align: center;
  padding: 1.5rem 0; }
  .searchnote br {
    display: none; }
  .searchnote span {
    color: #f39c00; }

.pmlink {
  position: relative;
  width: 90%;
  max-width: 600px;
  text-align: center;
  margin: 2rem auto 4rem; }
  .pmlink input {
    width: 100%;
    line-height: 24px; }
  .pmlink .btn {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 24px;
    padding: 0.5rem 1rem;
    min-width: 6em;
    -webkit-box-shadow: none;
    box-shadow: none; }

.pmstep {
  max-width: 800px;
  margin: 2rem auto; }
  .pmstep .pmsbx {
    position: relative;
    margin-bottom: 2rem; }
    .pmstep .pmsbx .inner {
      background: #fff;
      border-radius: 10px;
      border: 1px solid #ddd;
      border-bottom: 5px solid #f9be00;
      padding: 10%;
      height: 8em; }
      .pmstep .pmsbx .inner:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url(../images/i_arrow.png);
        background-size: cover;
        position: absolute;
        right: -6px;
        top: 50%;
        margin-top: -8px; }
    .pmstep .pmsbx b {
      color: #f39c00; }
  .pmstep .pmsbx:last-child .inner:after {
    display: none; }

.column {
  margin: 3rem 0; }
  .column .clbx {
    margin: 0 0 1.5rem; }
    .column .clbx h3 {
      color: #eb6100;
      font-weight: bold;
      margin-bottom: 0.5rem; }
    .column .clbx .img {
      margin-bottom: 0.5rem; }
      .column .clbx .img img {
        width: 100%; }
  .column .videoy {
    overflow: hidden; }
    .column .videoy .video {
      width: 180px;
      height: 320px;
      float: left;
      margin: 0 1rem 0 0; }
    .column .videoy .meat {
      width: auto; }

.rule {
  margin: 0 15px; }
  .rule p {
    margin: 0 auto 2rem; }
  .rule h5 {
    color: #f39c00;
    font-weight: bold;
    margin: 0 auto 0.5rem; }
  .rule ol {
    margin: 0.5rem auto 2rem; }
    .rule ol li {
      list-style-type: decimal;
      margin-left: 2rem; }
  .rule ul {
    margin: 0.5rem auto 2rem; }
    .rule ul li {
      list-style-type: square;
      margin-left: 2rem; }

@media screen and (max-width: 1024px) {
  .hd .logo {
    width: 140px;
    height: 138px;
    top: -40px;
    left: -40px; }
    .hd .logo a {
      width: 90px;
      height: 90px;
      margin: -40px 0 0 -45px; }
  #menu[role=navigation] ul {
    text-align: left;
    margin-left: 200px; }
  #menu[role=navigation] li {
    font-size: 14px; }
  #menu[role=navigation] .login-bar {
    font-size: 12px; }
  .ft .main {
    font-size: 14px; } }

@media screen and (max-width: 768px) {
  .wrap {
    padding-top: 60px;
    padding-bottom: 274px;
    margin-bottom: -274px; }
  .inpage {
    padding-top: 170px; }
  .content {
    margin: 40px auto; }
  .hd:after {
    content: "";
    display: block;
    width: 100%;
    height: 40px;
    background: #eb6100;
    position: absolute;
    top: 0;
    left: 0; }
  .hd .logo {
    width: 126px;
    height: 125px;
    top: -40px;
    left: -40px; }
    .hd .logo a {
      width: 70px;
      height: 70px;
      margin: -30px 0 0 -35px; }
  a.menu-link {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 9999; }
    a.menu-link:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: url(../images/img_menu.png);
      background-size: cover; }
    a.menu-link.active:after {
      background-image: url(../images/img_menuClose.png); }
  #menu[role=navigation] {
    position: absolute;
    left: 0;
    top: 40px;
    display: block;
    width: 100%;
    z-index: 888;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    text-align: right;
    background: rgba(235, 97, 0, 0.9); }
    #menu[role=navigation].active {
      max-height: 1000px;
      -webkit-transition: max-height 0.5s ease-in;
      -o-transition: max-height 0.5s ease-in;
      transition: max-height 0.5s ease-in; }
    #menu[role=navigation] ul {
      margin-left: 50%; }
    #menu[role=navigation] li {
      display: block;
      text-align: left;
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    #menu[role=navigation] .login-bar {
      position: static;
      display: inline-block;
      margin: 20px 0; }
  .search {
    width: 360px;
    margin-top: 60px; }
    .search input {
      width: 100%; }
    .search .hot-tag {
      right: 0;
      top: 40px;
      width: 100%;
      text-align: center; }
  .ft .main {
    padding-bottom: 2rem; }
    .ft .main ul {
      margin: 0 0 1rem; }
  .kv {
    height: 400px; }
  .indexkv .main {
    top: 150px;
    width: 400px; }
  .indexkv .wordA {
    width: 361px;
    height: 30px; }
  .indexkv .wordB {
    width: 396px;
    height: 30px; }
  .indexkv .wordC {
    width: 332px;
    height: 30px; }
  .sppoint .col-6 {
    padding-left: 0px;
    padding-right: 0px; }
  .sppoint .sppbx {
    min-height: 160px;
    background-size: auto 100%; }
    .sppoint .sppbx i.spp {
      width: 48px;
      height: 48px;
      margin-top: 15px; }
    .sppoint .sppbx h4 {
      font-size: 16px; }
    .sppoint .sppbx p {
      font-size: 12px; }
  .title {
    font-size: 24px; }
    .title span:before, .title span:after {
      width: 10px;
      height: 10px; }
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px; }
  .owl-carousel .owl-nav button.owl-next {
    right: -20px; }
  .uslbx .meat p {
    font-size: 14px; }
  .sptitle .note {
    margin-left: 90px; }
  .stable .thead {
    display: none; }
  .stable .tbody {
    padding-top: 10px;
    padding-bottom: 10px; }
  .stable .td {
    text-align: left;
    padding: 5px 15px;
    border-right: 0; }
    .stable .td .sth {
      color: #999;
      display: inline-block;
      min-width: 7em;
      background: #eee;
      padding: 0.25em 0.5em;
      margin-right: 10px; }
    .stable .td.edit {
      text-align: right;
      padding-bottom: 10px; }
  .text .okimg {
    float: none;
    margin: 0 auto; }
  .webflow {
    background-position: 15px top; }
    .webflow .wfbx .num {
      font-size: 16px;
      width: 30px;
      line-height: 30px; }
    .webflow .wfbx .img {
      margin-left: 50px;
      width: 100px;
      height: 100px; }
      .webflow .wfbx .img img {
        width: 36px; }
    .webflow .wfbx .meat {
      padding-left: 170px; }
    .webflow .webflowS {
      padding-left: 80px; }
      .webflow .webflowS:after {
        left: 95px; }
  .swebflow {
    background-position: center 135px; }
    .swebflow .wfbx {
      padding: 0 10px;
      padding-bottom: 40px;
      margin: 0 0 10px; }
      .swebflow .wfbx .num {
        margin-left: -15px; }
      .swebflow .wfbx .img {
        margin: auto;
        width: 90px;
        height: 90px; }
        .swebflow .wfbx .img img {
          width: 30px; } }

@media screen and (max-width: 767px) {
  body {
    font-size: 14px; }
  .fontS {
    font-size: 12px; }
  .search {
    width: 280px; }
  .ad .pc {
    display: none; }
  .ad .mb {
    display: block; }
  .sppoint .sppbx {
    min-height: 120px; }
    .sppoint .sppbx i.spp {
      width: 36px;
      height: 36px;
      margin-top: 10px; }
    .sppoint .sppbx h4 {
      font-size: 14px; }
  .sptitle {
    text-align: center;
    margin-bottom: 1.5rem; }
    .sptitle .note {
      position: static;
      display: inline-block;
      margin-left: 0;
      font-size: 14px;
      line-height: 36px; }
      .sptitle .note:before {
        display: none; }
  .member .side li {
    font-size: 12px; }
  .qa .qalist {
    border-bottom: 1px solid #f9be00;
    padding-bottom: 15px; }
  .qa .qalth {
    border-right: 0;
    margin-bottom: 10px; }
  .tform .tfth {
    border-right: 0;
    text-align: left; }
  .tform .tftd {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px; }
    .tform .tftd span.fixed {
      min-width: 70%; }
    .tform .tftd input {
      width: 100%;
      margin-bottom: 10px; }
    .tform .tftd input.input-w1 {
      width: 20%; }
    .tform .tftd select.select-w1 {
      width: 100%; }
    .tform .tftd textarea {
      width: 100%; }
    .tform .tftd button.btn {
      margin-bottom: 10px; }
    .tform .tftd .tfthh {
      display: block;
      margin-bottom: 5px; }
    .tform .tftd .imgpick .item {
      width: 50%; }
    .tform .tftd .storypick .item {
      width: 50%; } }

@media screen and (max-width: 576px) {
  .wrap {
    min-height: auto;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 100px; }
  .index {
    background: none; }
  .inpage {
    padding-top: 170px; }
  .container {
    padding-right: 10px;
    padding-left: 10px; }
  .hd .logo {
    left: -30px; }
  .search {
    position: absolute;
    right: 20px;
    top: 0px;
    width: 200px;
    padding-left: 30px; }
    .search:before {
      width: 20px;
      height: 20px;
      margin-top: -10px; }
    .search input {
      width: 100%; }
    .search .hot-tag {
      right: 0;
      top: 36px;
      font-size: 12px; }
      .search .hot-tag span {
        display: none; }
  .ft .main {
    padding: 2rem 0 1rem; }
    .ft .main .logo {
      width: 90px;
      height: 90px;
      right: 1rem;
      top: 0; }
  .kv {
    height: 400px; }
    .kv:after {
      height: 30px; }
  .indexkv {
    background-image: url(../images/img_kvM.jpg); }
    .indexkv .main {
      width: auto;
      top: 60px; }
      .indexkv .main .word {
        margin: 1rem auto; }
      .indexkv .main .wordA {
        width: 315px;
        height: 26px; }
      .indexkv .main .wordB {
        width: 345px;
        height: 26px; }
      .indexkv .main .wordC {
        width: 290px;
        height: 26px; }
  .sindexkv.pc {
    display: none; }
  .sindexkv.mb {
    display: block; }
    .sindexkv.mb .mtitle {
      top: 35%; }
  .sppoint .sppbx {
    min-height: 160px;
    margin-bottom: 20px;
    background-size: auto 100%; }
    .sppoint .sppbx i.spp {
      width: 48px;
      height: 48px;
      margin-top: 15px; }
    .sppoint .sppbx h4 {
      font-size: 16px; }
  .sppoint .sppbx3 {
    margin-top: -40px; }
  .video {
    height: 30vh; }
  .owl-carousel .owl-nav button.owl-prev {
    left: 0; }
  .owl-carousel .owl-nav button.owl-next {
    right: 0; }
  .indexPL .splbx {
    padding-left: 20px;
    padding-right: 20px; }
  .indexPL .owl-item:nth-child(2n) .inner {
    margin-top: 0; }
  .support a {
    padding: 1rem 1.5rem; }
  .support img {
    width: 48px; }
  .upgrate .btn {
    margin-bottom: 10px; }
  .upgrate br {
    display: block; }
  .plist .video {
    height: 200px; }
  .plist .meat {
    text-align: center; }
  .plist p {
    text-align: left; }
  .pdtop h3 {
    font-size: 20px; }
  .pdtop .price li span {
    min-width: 4rem; }
  .pdtop .btns {
    text-align: center; }
  .pddetail .item img {
    width: 100%;
    float: none;
    margin-left: 0; }
  .buyMore {
    padding: 0 10px; }
    .buyMore .splbx p span {
      display: block; }
  .step {
    font-size: 12px; }
  .text br {
    display: none; }
  .webflow .wfbx .num {
    top: 20px; }
  .webflow .wfbx .img {
    width: 80px;
    height: 80px; }
  .webflow .wfbx .meat {
    padding-left: 50px;
    padding-top: 90px; }
    .webflow .wfbx .meat h4 {
      position: absolute;
      top: 30px;
      left: 140px; }
  .webflow .webflowS {
    padding-left: 40px; }
    .webflow .webflowS:after {
      left: 55px; }
  .swebflow {
    background-position: center 125px; }
    .swebflow .wfbx .num {
      top: auto; }
  .qa .qaltd {
    font-size: 12px; }
  .login .user h4 {
    font-size: 16px; }
  .end .video {
    height: 240px; }
  .end .btns .btnBorder {
    font-size: 16px; }
  .fixVideo .video {
    height: 240px; }
  .searchnote br {
    display: block; } }

@media screen and (max-width: 360px) {
  .title {
    font-size: 22px; }
    .title span:before, .title span:after {
      top: -3px; } }
