
{% set pageinfo = { headtitle: '關於我們', wrapcls: 'inpage' } %}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}
	
	<section class="content">
		<div class="container">
			<h2 class="title"><span>{{ pageinfo.headtitle }}</span></h2>
			<div class="rule">
				<p><b class="fontB">CC copy</b> 影音創意智庫為全新的影音服務平台：我們提供了完整的影音企劃腳本，協助行銷人快速進行內外部對焦與提案，能夠直接想像成品，快速進行產製；一條龍的服務，價格完全透明，幫助行銷人「用最小的預算做最有價值的影音」，抓助新媒體市場機會！</p>
				<h5><b class="fontB">CC copy</b> 由來</h5>
				<p>
					<span class="fontBr">Chose</span> 影音創意智庫，故事模組化先選再買！<br>
					<span class="fontBr">Click</span> 流程電商化，敲敲滑鼠輕鬆得到優質影音！<br>
					急速 <b class="fontB">CC</b> 給老闆的影音企劃＋製作規格！
				</p>
				<h5><b class="fontB">CC copy</b> 4大特色</h5>
				<ul>
					<li>故事模組自由選：百種主題企劃腳本，案例影片不間斷更新，線上隨挑隨選。</li>
					<li>7-14天即交件：腳本、拍攝、剪輯，專業團隊快速動員，不再擔心「急件」人情還不起。</li>
					<li>價格公開透明：能自由掌控預算，不需報價再議價，線上即刻下單，省時又省力。</li>
					<li>行銷業務神助力：影音解構企劃力，提案簡報一次到位，不再一言難盡、無法想像成品，幫助內外部快速聚焦，大幅降低前製作業期。</li>
				</ul>
				<p>行銷人喜歡說一個故事，新世代的傳播方式，說故事的工具靠影音更精彩！影音行銷需要團隊，你不需要也不該自己一個人硬做，CC copy影音創意智庫希望幫助所有行銷人，讓影音成為你的關鍵利器！</p>

			</div>
		</div>
	</section>
{% endblock %}
