
{% set pageinfo = { headtitle: '服務說明', wrapcls: 'inpage' } %}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}
	
	<section class="content">
		<div class="container">
			<h2 class="title"><span>會員方案及權益</span></h2>
			<p class="pp">CC copy影音創意智庫為全新的影音服務平台：我們提供了完整的影音企劃腳本，協助行銷人快速進行內外部對焦與提案，能夠直接想像成品，立即加入「企業會員」，全站一條龍的服務，價格透明，幫助行銷人「用最小的預算做最有價值的影音」，抓助新媒體市場機會！</p>
			<div class="row plan">
				<div class="col-sm-6 col-lg-3 planbx">
					<div class="inner">
						<h4>會員</h4>
						<b>Free！</b>
						<div class="list">
							<span>方案權益：</span>
							<ul>
								<li>瀏覽當月限定影音商品</li>
								<li>XXX待補</li>
								<li>XXX待補</li>
							</ul>
						</div>
						<a href="" class="btn">立即註冊</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 planbx">
					<div class="inner">
						<h4>VIP會員</h4>
						<b><span>NT$</span>300<span>/月</span></b>
						<div class="list">
							<span>方案權益：</span>
							<ul>
								<li>瀏覽當月限定影音商品</li>
								<li>XXX待補</li>
								<li>XXX待補</li>
							</ul>
						</div>
						<a href="" class="btn">進行方案升級</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 planbx">
					<div class="inner">
						<h4>VIP會員</h4>
						<b><span>NT$</span>275<span>/月(年約)</span></b>
						<div class="list">
							<span>方案權益：</span>
							<ul>
								<li>瀏覽當月限定影音商品</li>
								<li>XXX待補</li>
								<li>XXX待補</li>
							</ul>
						</div>
						<a href="" class="btn">進行方案升級</a>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3 planbx">
					<div class="inner">
						<h4>VIP會員</h4>
						<b><span>NT$</span>3000<span>/年</span></b>
						<div class="list">
							<span>方案權益：</span>
							<ul>
								<li>瀏覽當月限定影音商品</li>
								<li>XXX待補</li>
								<li>XXX待補</li>
							</ul>
						</div>
						<a href="" class="btn">進行方案升級</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content wf" id="sec-flow">
		<div class="container">
			<h2 class="title"><span>服務流程</span></h2>
			<div class="webflow">
				<div class="wfbx">
					<div class="icon">
						<span class="num">1</span>
						<div class="img">
							<img src="/assets/images/i_wfVideo.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>選擇影片模組</h4>
						<p>
							多種影音模組提供選擇，案例影片定期不斷更新，配合節慶行銷將有策展模組推薦挑選！<br>
							您可以選擇主要商品後，直接進行更多行銷需求的「加購服務」，將直接享有9折優惠。加購服務項目包含：精簡秒數（15秒/20秒/30秒/1分鐘）、英文字幕、影片尺寸調整（16:9/1:1）、加購劇照（10張/20張）及毛帶全拿（將以實體方式寄送）共5項。<br>
							成品交付前仍可於「會員專區-訂單管理」內進行9折加購；若於成品交付後，僅限於14天內進行加購服務，並依原價計算。
						</p>
						<span class="fontR fontS">備註：同筆訂單若同時購買一支以上影片，須於同時間進行成品下載，並同時支付尾款；若需分開下載，請分開二筆訂單進行。</span>
					</div>
				</div>
				<div class="wfbx">
					<div class="icon">
						<span class="num">2</span>
						<div class="img">
							<img src="/assets/images/i_wfPay.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>80% 訂金支付</h4>
						<p>
							已完成訂購的主要商品，用戶需先支付總價之80%為訂金，以利作業流程之進行，待成品確認後再支付20%尾款；而加購服務項目則需一次付清。
						</p>
						<span class="fontR fontS">備註1：E-Coupon僅適用於一般商品折抵，不適用於加購商品。</span>
						<span class="fontR fontS">備註2：付款完成後，可於3天內取消訂單，將扣除10%交易手續費後，進行退款。</span>
						<span class="fontR fontS">備註3：當訂金支付完成，即開立電子發票；待尾款支付後，將開立第二張電子發票。</span>
					</div>
				</div>
				<div class="wfbx">
					<div class="icon">
						<span class="num">3</span>
						<div class="img">
							<img src="/assets/images/i_wfNote.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>表單填寫＆素材上傳</h4>
						<p>
							當您完成訂金支付流程，須於7天內上傳所需素材，我們將會對素材規格進行審核，並以Email進行審核通過&失敗通知；若於7天內未提交素材，視為「取消訂單」，將扣除10%交易手續費後，直接進行退款。
						</p>
					</div>
				</div>
				<div class="wfbx">
					<div class="icon">
						<span class="num">4</span>
						<div class="img">
							<img src="/assets/images/i_wfFlim.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>拍攝&剪輯</h4>
						<p>
							當您提交之素材審核通過後，將進行拍攝及剪輯作業。	
						</p>
					</div>
				</div>
				<div class="wfbx">
					<div class="icon">
						<span class="num">5</span>
						<div class="img">
							<img src="/assets/images/i_wfEdit.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>修改</h4>
						<p>
							剪輯初步完成後，即以Email通知您於線上查看A copy，並填寫「修改單」，提交您認為需要調整修改處。<br>
							修改完成後，即以Email通知您於線上查看B copy，您可直接進行付款並結案，或再次填寫修改單，進行影片微調。
						</p>
					</div>
					<div class="webflowS">
						<div class="wfbx">
							<div class="icon">
								<span class="num">5-1</span>
								<div class="img">
									<img src="/assets/images/i_wfVideoA.png" alt="">
								</div>
							</div>
							<div class="meat">
								<h4>A Copy</h4>
								<p>
									查看A copy，並填寫「修改單」，提交您認為需要調整修改處。您也可直接進行付款並結案。
								</p>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">5-2</span>
								<div class="img">
									<img src="/assets/images/i_wfVideoB.png" alt="">
								</div>
							</div>
							<div class="meat">
								<h4>B Copy</h4>
								<p>
									查看B copy，您可直接進行付款並結案，或再次填寫修改單，進行影片微調。
								</p>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">5-3</span>
								<div class="img">
									<img src="/assets/images/i_wfVideoC.png" alt="">
								</div>
							</div>
							<div class="meat">
								<h4>C Copy</h4>
								<p>
									查看C copy，您可直接進行付款並結案，或再次填寫修改單，進行影片微調。
								</p>
							</div>
						</div>
					</div>

				</div>
				<div class="wfbx">
					<div class="icon">
						<span class="num">6</span>
						<div class="img">
							<img src="/assets/images/i_wfPay.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>尾款支付</h4>
						<p>
							待確認成品修改完成後，須進行尾款支付後，即能下載成品檔案。
						</p>
					</div>
				</div>
				<div class="wfbx">
					<div class="icon">
						<span class="num">7</span>
						<div class="img">
							<img src="/assets/images/i_wfVideoOk.png" alt="">
						</div>
					</div>
					<div class="meat">
						<h4>成品下載&交付</h4>
						<p>
							恭喜您，您的專案已結案！
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content qa" id="sec-faq">
		<div class="container">
			<h2 class="title"><span>常見問題</span></h2>
			<div class="row qalist">
				<div class="col-md-3 qalth">E-Coupon可以如何獲得及使用？</div>
				<div class="col-md-9 qaltd">
					除不定期行銷活動贈送外，一般訂單結案完成後，將致贈E-Coupon提供您下次消費使用，若協助CC copy回饋用戶評價也會再派送E-Coupon。E-Coupon僅適用於一般商品訂單折抵，「加購項目（包含：精簡秒數、英文字幕、影片尺寸調整、加購劇照及毛帶全拿共5項）」不可進行折抵。
				</div>
			</div>
			<div class="row qalist">
				<div class="col-md-3 qalth">「加購項目」該如何購買？</div>
				<div class="col-md-9 qaltd">
					必須購買主要商品或曾購買主要商品，即可針對該項商品進行加購；同時購買享有9折優惠，成品交付前仍可於「會員專區-訂單管理」內進行9折加購；若於成品交付後，僅限於14天內進行加購服務，並依原價計算。
				</div>
			</div>
			<div class="row qalist">
				<div class="col-md-3 qalth">同筆訂單若包含二項影音商品，是否可以先完成者先下載？</div>
				<div class="col-md-9 qaltd">
					不行。同筆訂單若同時購買一支以上影片，須於同時間進行成品下載，並同時支付尾款；若需分開下載，請分開二筆訂單進行。
				</div>
			</div>
			<div class="row qalist">
				<div class="col-md-3 qalth">已付款，可以取消訂單嗎？是否會扣手續費？</div>
				<div class="col-md-9 qaltd">
					可以。付款完成後，可於3天內取消訂單，將扣除10%交易手續費後，進行退款。
				</div>
			</div>
			<div class="row qalist">
				<div class="col-md-3 qalth">已付款，無法即時完成素材提交該怎麼辦？</div>
				<div class="col-md-9 qaltd">
					當您完成訂金支付流程，須於7天內上傳所需素材，我們將會對素材規格進行審核，並以Email進行審核通過&失敗通知；若於7天內未提交素材，視為「取消訂單」，將扣除10%交易手續費後，直接進行退款。如您對於素材提交有任何問題，請於7天內與聯繫我們，客服信箱：<a href="mailto:videoarmy2018@gmail.com">videoarmy2018@gmail.com</a>
				</div>
			</div>
			<div class="row qalist">
				<div class="col-md-3 qalth">A copy、B copy可以下載給客戶或老闆確認嗎？</div>
				<div class="col-md-9 qaltd">
					A copy及B copy除可線上瀏覽外，亦可進行含有浮水印的小檔影片下載檔。
				</div>
			</div>
			<div class="row qalist">
				<div class="col-md-3 qalth">如果挑選不到適合的影音模版怎麼辦？</div>
				<div class="col-md-9 qaltd">
					請說明您的需求mail至客服信箱：<a href="mailto:videoarmy2018@gmail.com">videoarmy2018@gmail.com</a>，將有專人與您聯繫。
				</div>
			</div>
		</div>
	</section>
{% endblock %}
