
{% set pageinfo = { headtitle: '隱私權政策', wrapcls: 'inpage' } %}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="content">
		<div class="container">
			<h2 class="title"><span>{{ pageinfo.headtitle }}</span></h2>
			<div class="rule">
				<p>CC copy影音創意智庫 為錨點影音整合行銷有限公司（以下稱「本公司」或「本網站」）所經營。本公司十分重視您的隱私權保護，將依個人資料保護法及本隱私權政策蒐集、處理及利用您的個人資料，並提供您對個人資料權利之行使與保護（以下稱「使用者」）。</p>
				<p>若使用者光臨本網站、購買或使用服務時，已同意本隱私政策之運作與政策，若使用者不同意本隱私權政策之全部或部分者，請停止使用本網站服務。</p>
				<p>本網站並非特別為未成年人設計，未成年人使用時，若同意本公司蒐集、利用其個人資訊時，應在法定代理人或監護人之同意下為之。法定代理人或監護人得隨時請求本公司停止特定帳號及其相關之個人資料之蒐集、處理及利用行為。</p>
				<h5>個人資料</h5>
				<p>在某些情況下，例如當使用者註冊為本公司會員、訂閱電子報、在CC copy購買、使用相關服務或參加其他活動時，可能會要求使用者提供個人資料或註冊為會員，以便於和使用者聯繫、完成交易、提供服務、或處理購買程序；在此等情況下，本公司或其合作對象將會事先告知使用者此等事實。</p>
				<h5>網頁瀏覽器cookies</h5>
				<p>為便於日後的辨識，當使用者使用本網站時，本公司可能會在使用者的電腦上設定與存取 Cookie。 使用者可以透過設定個人電腦或上網設備，決定是否允許 Cookie 技術的使用，若使用者關閉 Cookie 時，可能會造成使用本網站服務時之不便利或部分功能限制。</p>
				<h5>保密與安全性</h5>
				<p>本公司採取適當的資料保護、儲存和處理機制及資料安全措施，以避免未經授權之接觸、變更、揭露或破壞使用者的個人資料、交易資訊與於本公司處理及儲存之資料。為了保護使用者帳戶及個人資料的安全，請不要任意將個人帳號、密碼提供予第三人或允許第三人以使用者的個人資料申請帳號、密碼，否則，相關責任由使用者自行負擔。若使用者的帳號、密碼有外洩之虞，請使用者立即更改密碼，或通知本公司暫停該帳號（本公司將會要求核對使用者的個人資料）。本公司包含連結至第三方的網站、產品及服務，本隱私政策並不適用該第三方網站等，鼓勵使用者去檢視那些第三方網站等隱私政策。</p>
				<h5>隱私權政策之修改</h5>
				<p>隱私權政策如經修改，本公司將以使用者所提供之電子郵件或簡訊通知相關之重大變更，並於本網站進行公告。若使用者不同意該等變更或修改，請停止繼續使用本網站，並依本隱私權政策規定通知本公司停止蒐集、處理及利用使用者的個人資料。</p>
				<p>使用者可向本公司請求查閱、提供複本、更正或補充個人資訊，及請求刪除或停止處理利用。如果您對隱私權政策有任何疑問，請聯繫我們 <a href="mailto:videoarmy2018@gmail.com">videoarmy2018@gmail.com</a></p>
			</div>
			<div class="note">最新公告日期：2019 年 6 月 18 日</div>
		</div>
	</section>
{% endblock %}
