
{% set pageinfo = 
	{ 
		headtitle: '購物車', 
		wrapcls: 'inpage', 
		subcrumb: { 
			href: '/user/ugindex', title: '會員專區'
		}
	} 
%}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="content">
		<div class="container">
			<div class="member">

				{% include "user/_nav.njk"%}

				{% block cartcontent %}
				<div class="main">
					<div class="step">
						<div class="item active"><span>購物明細</span></div>
						<div class="item"><span>訂單成立</span></div>
						<div class="item"><span>付款</span></div>
						<div class="item"><span>訂購完成</span></div>
					</div>
					{% if not cartitems|length %}
					<div class="stable">
						<div class="row thead">
							<div class="th col-lg-4"><span>項目</span></div>
							<div class="th col-lg-2"><span>價格</span></div>
							<div class="th col-lg-1"><span>急件加價</span></div>
							<div class="th col-lg-1"><span>特殊加價</span></div>
							<div class="th col-lg-1"><span>訂金</span></div>
							<div class="th col-lg-1"><span>尾款</span></div>
							<div class="th col-lg-2 edit"><span>變更</span></div>
						</div>
						<div class="row tbody">
							<div class="td col-lg-12">購物車無商品</div>
						</div>
					</div>
					{% endif %}
					{% for item in cartitems %}
					<div class="stable" jq-group="{{ item.id }}">
						<div class="row thead">
							<div class="th col-lg-4"><span>項目</span></div>
							<div class="th col-lg-2"><span>價格</span></div>
							<div class="th col-lg-1"><span>急件加價</span></div>
							<div class="th col-lg-1"><span>特殊加價</span></div>
							<div class="th col-lg-1"><span>訂金</span></div>
							<div class="th col-lg-1"><span>尾款</span></div>
							<div class="th col-lg-2 edit"><span>變更</span></div>
						</div>
						<div class="row tbody" jq-price="{{ item.advancePayment }}">
							<div class="td col-lg-4">{{ item.title }}</div>
							<div class="td col-lg-2"><span class="sth">價格</span>${{ item.price|locale }}</div>
							<div class="td col-lg-1"><span class="sth">急件加價</span>{% if item.urgentPrice|length %}{{ item.urgentPrice|locale }}{% else %}無{% endif %}</div>
							<div class="td col-lg-1"><span class="sth">特殊加價</span>{% if item.customizePrice|length %}{{ item.customizePrice|locale }}{% else %}無{% endif %}</div>
							<div class="td col-lg-1"><span class="sth">訂金</span>${{ item.advancePayment|locale }}</div>
							<div class="td col-lg-1"><span class="sth">尾款</span>${{ item.finalPayment|locale }}</div>
							<div class="td col-lg-2 edit"><a href="">刪除</a> / <a href="">加入收藏</a></div>
						</div>
						<div class="row thead theadg">
							<div class="th col-lg-4"><span>加購項目</span></div>
							<div class="th col-lg-2"><span>規格</span></div>
							<div class="th col-lg-1"><span>價格</span></div>
							<div class="th col-lg-1"><span></span></div>
							<div class="th col-lg-1"><span></span></div>
							<div class="th col-lg-1"><span></span></div>
							<div class="th col-lg-2 edit"><span>變更</span></div>
						</div>
						<div class="row tbody" new-addition-append>
							<div class="td col-lg-4">
								<span class="sth">加購項目</span>
								<select maintype>
									<option value="">請選擇</option>
									{% for adetail in additiondetail %}
									<option link-to="{{ adetail.title }}" value="{{ adetail.details[0].id }}" price="{{ adetail.details[0].price }}">{{ adetail.title }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="td col-lg-2">
								<span class="sth">規格</span>
								<select subtype>
									<option init value="">請選擇</option>
									{% for adetail in additiondetail %}
									{% if adetail.details|length > 1 %}
										{% for des in adetail.details %}
										<option link-from="{{ adetail.title }}" value="{{ des.id }}" price="{{ des.price }}" hidden>{{ des.type }}</option>
										{% endfor %}
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="td col-lg-1">
								<span class="sth">價格</span>
								<span type-price>-</span>
							</div>
							<div class="td col-lg-1"></div>
							<div class="td col-lg-1"></div>
							<div class="td col-lg-1"></div>
							<div class="td col-lg-2 edit">
								<a add-addition-ajax-cart href="/ajax/addition/add" pitem="{{ item.id }}" item="">加入</a>
							</div>
						</div>
						{% for addition in item.additions %}
						<div class="row tbody" new-addition-append jq-price="{{ addition.price }}">
							<div class="td col-lg-4"><span>
								<span class="sth">加購項目</span>
								{{ addition.title }}
							</span></div>
							<div class="td col-lg-2"><span>
								<span class="sth">規格</span>
								{{ addition.type }}
							</span></div>
							<div class="td col-lg-1"><span>
								<span class="sth">價格</span>
								${{ addition.price|locale }}
							</span></div>
							<div class="td col-lg-1"></div>
							<div class="td col-lg-1"></div>
							<div class="td col-lg-1"></div>
							<div class="td col-lg-2 edit">
								<span><a remove-addition-ajax href="/ajax/addition/remove" pitem="{{ item.id }}" item="{{ addition.id }}">刪除</a></span>
							</div>
						</div>
						{% endfor %}
						<div class="row tbtm">
							<div class="td col total">
								小計 (不含尾款)  NT$ <span jq-total>{{ item.subtotal|locale }}</span> 元
							</div> 
						</div>
					</div>
					{% endfor %}
					
					<div class="notice">
						<h3>重要提醒</h3>
						<ol>
							<li>訂單成立後，請於5日內完成訂金支付。</li>
							<li>加購商品（精簡秒數、英文字幕、修改影片尺寸、加購劇照、毛帶全拿）於同筆訂單可享九折價惠，需一次付清款項，若於成品完成後購　買，則依原價計算。</li>
							<li>加購商品（精簡秒數、其它語言字幕、修改影片尺寸、加購劇照、毛帶全拿）最遲於成品交付後14天內購買。</li>
							<li>完成付款後，若於7天內不提交素材，視為「取消訂單」，將扣除10%交易手續費後，直接進行退款。</li>
							<li>「折扣碼優惠」僅適用於一般商品折抵，不適用於加購商品。</li>
							<li>付款完成後，可於3天內取消訂單，將扣除10%交易手續費後，進行退款。</li>
							<li>同筆訂單若同時購買一支影片以上，須於同時間進行成品下載，並同時支付尾款；若需分開下載，請分開二筆訂單進行。</li>
							<li>當支付訂金後，即開立發票；待尾款支付後，將開立第二張發票。</li>
						</ol>
					</div>

					{% if cartitems|length %}
					<div class="mmeat alltotal">
						訂單金額總計 (不含尾款)  NT$ <span jq-alltotal>{{ totalprice|locale }}</span> 元
					</div>
					<div class="btns">
						<a main-pjax-link href="/user/cart/confirm" class="btn btnIm">確認訂單</a>
					</div>
					{% endif %}
				</div>
				{% endblock %}
			</div>
		</div>
	</section>

{% endblock %}