
{% set pageinfo = 
	{ 
		headtitle: '會員資料管理', 
		wrapcls: 'inpage', 
		subcrumb: { 
			href: '/user/', title: '會員專區'
		}
	} 
%}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="content">
		<div class="container">
			<div class="member">

				{% include "user/_nav.njk"%}

				<div class="main">
					<div class="tform row">
						<div class="tfth col-md-3"><span><em class="fontR">*</em>真實姓名</span></div>
						<div class="tftd col-md-9">
							<input type="text" placeholder="請輸入你的真實姓名" onfocus="this.placeholder = ''" onblur="this.placeholder = '請輸入你的真實姓名'">
						</div>
						<div class="tfth col-md-3"><span>真實姓名</span></div>
						<div class="tftd col-md-9">
							<span class="fixed">王小美</span>
						</div>
						<div class="tfth col-md-3"><span><em class="fontR">*</em>暱稱</span></div>
						<div class="tftd col-md-9">
							<input type="text" value="Leahyeh">
						</div>
						<div class="tfth col-md-3"><span><em class="fontR">*</em>E-mail</span></div>
						<div class="tftd col-md-9">
							<input type="text" value="abcd123@gmail.com">
						</div>
						<div class="tfth col-md-3"><span>E-mail</span></div>
						<div class="tftd col-md-9">
							<span class="fixed">leahyeh@gmail.com</span>
							<a href="" class="btn">變更</a>
						</div>
						<div class="tfth col-md-3"><span>密碼</span></div>
						<div class="tftd col-md-9">
							<span class="fixed">*******</span>
							<a href="" class="btn">變更</a>
						</div>
						<div class="tfth col-md-3"><span><em class="fontR">*</em>行動電話</span></div>
						<div class="tftd col-md-9">
							<input type="text" value="0912345678">
						</div>
						<div class="tfth col-md-3"><span>行動電話</span></div>
						<div class="tftd col-md-9">
							<span class="fixed">0912345678</span>
							<a href="" class="btn">變更</a>
						</div>
						<div class="tfth col-md-3"><span>聯絡市話</span></div>
						<div class="tftd col-md-9">
							<input class="input-w1" type="text" value="02">
							<input class="input-a" type="text" value="0912345678">
						</div>
						<div class="tfth col-md-3"><span><em class="fontR">*</em>地址</span></div>
						<div class="tftd col-md-9">
							<select name="" id="">
								<option value="">台北市</option>
							</select>
							<select name="" id="">
								<option value="">中正區</option>
							</select>
							<input type="text" value="">
						</div>
						<div class="tfth col-md-3"><span>產業別</span></div>
						<div class="tftd col-md-9">
							<select class="select-w1" name="" id="">
								<option value="">出版業</option>
							</select>
						</div>
						<div class="tfth col-md-3"><span>公司名稱</span></div>
						<div class="tftd col-md-9">
							<input type="text" placeholder="請輸入公司名稱" onfocus="this.placeholder = ''" onblur="this.placeholder = '請輸入公司名稱'">
						</div>
						<div class="tfth col-md-3"><span>統編</span></div>
						<div class="tftd col-md-9">
							<input type="text" placeholder="請輸入統編" onfocus="this.placeholder = ''" onblur="this.placeholder = '請輸入統編'">
						</div>
						<div class="tfth col-md-3"><span>職稱</span></div>
						<div class="tftd col-md-9">
							<select class="select-w1" name="" id="">
								<option value="">行銷企劃</option>
							</select>
						</div>
					</div>
					<div class="btns center">
						<a href="" class="btn btnIm">確認送出</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
