
{% set pageinfo = 
	{ 
		headtitle: '訂單管理', 
		wrapcls: 'inpage', 
		subcrumb: { 
			href: '/user/ugindex', title: '會員專區'
		}
	} 
%}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="content">
		<div class="container">
			<div class="member">

				{% include "user/_nav.njk"%}

				<div class="main">
					<div class="webflow swebflow owl-carousel">
						<div class="wfbx">
							<div class="icon">
								<span class="num">1</span>
								<div class="img">
									<img src="/assets/images/i_wfVideo.png" alt="">
								</div>
								<b>選擇模組</b>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">2</span>
								<div class="img">
									<img src="/assets/images/i_wfPay.png" alt="">
								</div>
								<b>訂金支付</b>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">3</span>
								<div class="img">
									<img src="/assets/images/i_wfNote.png" alt="">
								</div>
								<b>填寫＆上傳</b>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">4</span>
								<div class="img">
									<img src="/assets/images/i_wfFlim.png" alt="">
								</div>
								<b>拍攝</b>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">5</span>
								<div class="img">
									<img src="/assets/images/i_wfEdit.png" alt="">
								</div>
								<b>修改</b>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">6</span>
								<div class="img">
									<img src="/assets/images/i_wfPay.png" alt="">
								</div>
								<b>尾款支付</b>
							</div>
						</div>
						<div class="wfbx">
							<div class="icon">
								<span class="num">7</span>
								<div class="img">
									<img src="/assets/images/i_wfVideoOk.png" alt="">
								</div>
								<b>成品交付</b>
							</div>
						</div>
					</div>
					<div class="stable">
						<div class="row thead">
							<div class="th col-lg-4"><span>訂單進度查詢</span></div>
							<div class="th col-lg-2"><span>訂購時間</span></div>
							<div class="th col-lg-2"><span>應付訂金</span></div>
							<div class="th col-lg-2"><span>尾款</span></div>
							<div class="th col-lg-2"><span>變更</span></div>
						</div>
						<div class="row tbody">
							<div class="td col-lg-4">OD0456123789</div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								2019/05/09
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								$86,500
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								$20,000
							</div>
							<div class="td col-lg-2 edit">
								<a href="">立即付款</a>
							</div>
						</div>
						<div class="row tbody">
							<div class="td col-lg-4"><a href="odStatus.html" class="link">OD0456123789</a></div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								2019/05/09
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								$86,500
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								$20,000
							</div>
							<div class="td col-lg-2 edit">
								<a href="odCancel.html">取消訂單</a> / <a href="">加購</a>
							</div>
						</div>
						<div class="row tbody">
							<div class="td col-lg-4">OD0456123789</div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								2019/05/09
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								$86,500
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								$20,000
							</div>
							<div class="td col-lg-2 edit">
								<a href="odScore.html">評價</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
