
{% set pageinfo = 
	{ 
		headtitle: '訂單管理', 
		wrapcls: 'inpage', 
		subcrumb: { 
			href: '/user/ugindex', title: '會員專區'
		}
	} 
%}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="content">
		<div class="container">
			<div class="member">

				{% include "user/_nav.njk"%}

				<div class="main">
					
					{% include "user/orders/_flows.njk"%}

					<div class="stable">
						<div class="row thead">
							<div class="th col-lg-4"><span>訂單進度查詢</span></div>
							<div class="th col-lg-2"><span>訂購時間</span></div>
							<div class="th col-lg-2"><span>應付訂金</span></div>
							<div class="th col-lg-2"><span>尾款</span></div>
							<div class="th col-lg-2"><span>變更</span></div>
						</div>
						{% if not orders|length %}
						<div class="row tbody">
							<div class="td col-lg-12">無訂單紀錄</div>
						</div>
						{% endif %}
						{% for order in orders %}
						<div class="row tbody">
							<div class="td col-lg-4">
								{% if order.canShowDetail %}
								<a main-pjax-link href="/user/orders/{{ order.serialNumber }}">{{ order.serialNumber }}</a>
								{% else %}
								{{ order.serialNumber }}
								{% endif %}
							</div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								{{ order.created_at|dateFormat }}
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								${{ order.advancePayment|locale }}
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								${{ order.finalPayment|locale }}
							</div>
							<div class="td col-lg-2 edit">
								{% if order.canPay %}
								<a main-pjax-link href="/user/cart/paying?serial={{ order.serialNumber }}">立即付款</a>
								{% elif order.canCancel %}
								<a main-pjax-link href="/user/orders/{{ order.serialNumber }}/cancel">取消訂單</a>
								{% endif %}
							</div>
						</div>
						{% endfor %}
						<!-- <div class="row tbody">
							<div class="td col-lg-4">OD0456123789</div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								2019/05/09
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								$86,500
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								$20,000
							</div>
							<div class="td col-lg-2 edit">
								<a href="">立即付款</a>
							</div>
						</div> -->
						<!-- <div class="row tbody">
							<div class="td col-lg-4"><a href="odStatus.html" class="link">OD0456123789</a></div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								2019/05/09
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								$86,500
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								$20,000
							</div>
							<div class="td col-lg-2 edit">
								<a href="odCancel.html">取消訂單</a> / <a href="">加購</a>
							</div>
						</div> -->
						<!-- <div class="row tbody">
							<div class="td col-lg-4">OD0456123789</div>
							<div class="td col-lg-2">
								<span class="sth">訂購時間</span>
								2019/05/09
							</div>
							<div class="td col-lg-2">
								<span class="sth">應付訂金</span>
								$86,500
							</div>
							<div class="td col-lg-2">
								<span class="sth">尾款</span>
								$20,000
							</div>
							<div class="td col-lg-2 edit">
								<a href="odScore.html">評價</a>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
