
<div class="webflow swebflow owl-carousel">
	<div class="wfbx">
		<div class="icon">
			<span class="num">1</span>
			<div class="img">
				<img src="/assets/images/i_wfVideo.png" alt="">
			</div>
			<b>選擇模組</b>
		</div>
	</div>
	<div class="wfbx">
		<div class="icon">
			<span class="num">2</span>
			<div class="img">
				<img src="/assets/images/i_wfPay.png" alt="">
			</div>
			<b>訂金支付</b>
		</div>
	</div>
	<div class="wfbx">
		<div class="icon">
			<span class="num">3</span>
			<div class="img">
				<img src="/assets/images/i_wfNote.png" alt="">
			</div>
			<b>填寫＆上傳</b>
		</div>
	</div>
	<div class="wfbx">
		<div class="icon">
			<span class="num">4</span>
			<div class="img">
				<img src="/assets/images/i_wfFlim.png" alt="">
			</div>
			<b>拍攝</b>
		</div>
	</div>
	<div class="wfbx">
		<div class="icon">
			<span class="num">5</span>
			<div class="img">
				<img src="/assets/images/i_wfEdit.png" alt="">
			</div>
			<b>修改</b>
		</div>
	</div>
	<div class="wfbx">
		<div class="icon">
			<span class="num">6</span>
			<div class="img">
				<img src="/assets/images/i_wfPay.png" alt="">
			</div>
			<b>尾款支付</b>
		</div>
	</div>
	<div class="wfbx">
		<div class="icon">
			<span class="num">7</span>
			<div class="img">
				<img src="/assets/images/i_wfVideoOk.png" alt="">
			</div>
			<b>成品交付</b>
		</div>
	</div>
</div>
