
{% extends "user/orders.njk" %}

{% block ordercontent %}

<div class="main">
	<div class="text">
		<h2 class="title">交易成功</h2>
		<div class="inner">
			<p>
				提醒您：將於3個工作天內可至「<a main-pjax-link href="/user/orders/" class="link">訂單管理-訂單進度查詢</a>」進行成品下載。<br>您獲得折扣碼 98折 優惠於您的帳戶，可於下次消費時進行折抵！
			</p>
		</div>
	</div>
</div>

{% endblock %}
