
{% set pageinfo = 
	{ 
		headtitle: '訂單管理', 
		wrapcls: 'inpage', 
		subcrumb: { 
			href: '/user/ugindex', title: '會員專區'
		}
	} 
%}

{% extends "base.njk" %}

{% block content %}
	
	{% include "crumbnav.njk" %}

	<section class="content">
		<div class="container">
			<div class="member">

				{% include "user/_nav.njk"%}

				<div class="main">
					
					<div class="remind">
						提醒您：
						<p>請於7天內於「訂單管理-訂單進度查詢」提交素材！若於7天內不提交素材，將視為「取消訂單」，將扣除10%交易手續費後，直接進行退款。</p>
					</div>

					{% include "user/orders/_flows.njk"%}

					<div class="stable">
						<div class="row thead">
							<div class="th col-lg-4"><span>項目</span></div>
							<div class="th col-lg-1"><span>已付訂金</span></div>
							<div class="th col-lg-1"><span>尾款</span></div>
							<div class="th col-lg-1"><span>素材提交</span></div>
							<div class="th col-lg-1"><span>成品交付</span></div>
							<div class="th col-lg-1"><span>處理狀態</span></div>
							<div class="th col-lg-3"><span>備註</span></div>
						</div>
						{% for detail in orderdetails %}
							<div class="row tbody">
								<div class="td col-lg-4">{{ detail.title }}</div>
								<div class="td col-lg-1">
									<span class="sth">已付訂金</span>
									${{ detail.advancePayment|locale }}
								</div>
								<div class="td col-lg-1">
									<span class="sth">尾款</span>
									${{ detail.finalPayment|locale }}
								</div>
								<div class="td col-lg-1">
									<span class="sth">素材提交</span>
									<a href="odItempush.html">提交</a>
								</div>
								<div class="td col-lg-1">
									<span class="sth">成品交付</span>
									<a href="">查看</a>
								</div>
								<div class="td col-lg-1">
									<span class="sth">處理狀態</span>
									處理中
								</div>
								<div class="td col-lg-3">
									<span class="sth">備註</span>
									預計將於2019/05/30交付Acopy
								</div>
							</div>
							{% if detail.additions|length %}
								{% for addition in detail.additions %}
								<div class="row tbody">
									<div class="td col-lg-4">加購：{{ addition.title }} {{ addition.type }}</div>
									<div class="td col-lg-1">
										<span class="sth">已付訂金</span>
										${{ addition.price|locale }}
									</div>
									<div class="td col-lg-1"></div>
									<div class="td col-lg-1"></div>
									<div class="td col-lg-1"></div>
									<div class="td col-lg-1">
										<span class="sth">處理狀態</span>
										已接收
									</div>
									<div class="td col-lg-3"></div>
								</div>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</div>

					<div class="note fontS">
						*說明：同筆訂單若購買一支影片以上，須於同時間進行成品下載，並同時支付尾款；當以上訂單內容處理狀態皆為「成品已確認」，即可進行尾款支付。
					</div>
					<div class="mmeat alltotal">
						<div class="atn">已支付訂金  NT$ <span>{{ totalprice|locale }}</span> 元</div>
						<div class="atn">待支侍尾款  NT$ <span>{{ finalprice|locale }}</span> 元</div>
						訂單金額總計  NT$ <span>{{ alltotalprice|locale }}</span> 元
					</div>
					<div class="btns">
						<a href="" class="btn">列印報價單<em>提供備存</em></a>
						<a href="odPay.html" class="btn btnGray">尾款支付</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
